.aside {
	min-width: 370px;
	border-radius: 0px;
	background-color: #1E2939;
	color: white;
}

img {
	height: 200px;
	border-radius: 30%;
	margin: 30px 30px;
}

.contacts {
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
}

.contact-type {
	padding-right: 10px;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0em;
}

.contact-info {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	text-decoration: none;
}

.contact-info2 {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: white;
	text-decoration: none;

}

.Techskil {
	padding: 47px 0 44px 0;
}

.skills {
	padding-top: 8px;
	margin: 0;
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;

}

ul {
	margin: 0px;
	padding: 8px 0 0 17px;
}

.myskill li {
	padding-bottom: 5px;
	color: #FB6D3A;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
}

.myskill span {
	color: white;
}